/* Log out modal */

.modal-overlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px);
  }

  .modal-log-out-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    text-align: center;
    padding: 40px;
    border-radius: 40px;
    font-size: 19px;
    width: 310px;
    background-color: #fff;
  }

  .modal-log-out-subtitle {
    font-size: 18px;
    font-weight: 500;
    color: black;
  }

  .modal-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 44px;
    border: 1px solid transparent;
    font-size: 16px;
    border-radius: 16px;
    font-weight: 700;
    background-color: #5458EA;
    cursor: pointer;
    color: #fff;
    transition: all 0.35s ease;
  }

  .confirm {
    margin-bottom: 5px;
  }

  .confirm:hover {
    scale: 0.97;
    background-color: #323486;
  }

  .cancel {
    background-color: #fff;
    color: black;
  }

  .cancel:hover {
    background-color: #323486;
    color: #fff;
    scale: 0.97;
  }

  /* Adding number modal */

.modal-number-overlay {
  position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px);
}

.modal-number-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 40px;
    border-radius: 40px;
    width: 565px;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
}

.modal-number-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 335px;
}

.modal-number-title {
  font-size: 24px;
  font-weight: 500;
}

.modal-number-subtitle {
  font-size: 20px;
  font-weight: 500;
  color: #494949;
  margin: 0;
}

.modal-number-subsubtitle {
  font-size: 16px;
  font-weight: normal;
  color: #C0C0C0;
  margin: 10px 0px 20px 0px;
}

.number-modal-input {
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;
  background: none;
  border: none;
  text-align: center;
  margin-bottom: 30px;
  outline: none;
  font-weight: 500;
  letter-spacing: 3px;
}

.number-modal-button {
  width: 335px;
  height: 65px;
  background-color: #5458EA;
  color: #fff;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  cursor: pointer;
  transition: scale 0.3s ease, background-color 0.3s ease;
}

.number-modal-button:hover {
  scale: 0.95;
  background-color: #323486;
}

.number-modal-button:disabled {
  background-color: #F7F7F8;
  color: #9CA4AB;
}

.number-modal-button:disabled:hover {
  background-color: #F7F7F8;
  color: #9CA4AB;
  scale: 1.0;
}

.close-button {
  position: absolute;
  top: 4%;
  margin-left: 405px;
  font-size: 23px;
  background: none;
  border: none;
  cursor: pointer;
  transition: scale 0.3s ease, color 0.3s ease;
}

.close-button:hover {
  scale: 1.4;
  color: #5458EA;
}

 /* Confirm number modal */

 .code-modal-input {
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;
  background: none;
  border: none;
  text-align: center;
  margin-top: 20px;
  font-weight: 500;
  letter-spacing:10px;
  margin-bottom: 30px;
  outline: none;
 }

 .confirm-resend-button {
  background: none;
  border: none;
  font-size: 16px;
  color: #5458EA;
  cursor: pointer;
  transition: scale 0.3s ease, color 0.3s ease;
 }

 .confirm-resend-button:hover {
  scale: 1.1;
  color: #323486;
  }

.confirm-resend-button:disabled {
  scale: 1.0;
  color: #C0C0C0;
}

.confirm-resend-button:disabled:hover {
  cursor: default;
}
 
 .button-content {
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 
 .timer {
   margin-top: 4px;
 }
 

 .confirm-close-button {
  position: absolute;
  top: 29%;
  left: 35%;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  transition: scale 0.3s ease, color 0.3s ease;
}

.confirm-close-button:hover {
  scale: 1.4;
  color: #5458EA;
}

 /* Add item modal */

.modal-add-product-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 50px 10px;
  border-radius: 40px;
  width: 570px;
  box-sizing: border-box;
  background-color: #fff;
  position: relative;
}

.file-image-section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.image-block-label {
  width: 76px;
  height: 110px;
  border-radius: 12px;
  display: flex;
  cursor: pointer;
}

.selected-images-wrapper {
  display: flex;
  flex-direction: row; 
  align-items: center;
  width: 450px; 
  height: 110px;
  padding-right: 5px;
  margin-left: 10px;
  overflow-x: scroll;
}

.file-image {
  width: 76px;
  height: 96px;
  align-self: center;
  border-radius: 12px;  
  box-shadow: 0px 3px 7px -5px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 3px 7px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 7px -5px rgba(0,0,0,0.75);
  transition: background-color 0.2s ease;
  background-color: #F7F6F9;
}

.file-image:hover {
  background-color: #e2e5ea;
}

.selected-image {
  display: flex;
  width: 76px;
  height: 96px;
  border-radius: 12px;
  margin-right: 10px;
  object-fit: cover;
  box-shadow: 0px 3px 7px -5px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 3px 7px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 7px -5px rgba(0,0,0,0.75);
}

.product-input {
  width: 97%;
  height: 20px;
  border-radius: 12px;
  margin-top: 7px;
  border: none;
  padding: 10px 10px;
  background-color: #F7F6F9;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  outline: none;
  transition: background-color 0.2s ease;
  resize: none; 
  overflow-y: auto;
  align-items: center; 
}

.add-product-input::placeholder {
 color: #C0C0C0;
}

.product-button {
  width: 280px;
  height: 44px;
  background-color: #5458EA;
  border-radius: 16px;
  font-weight: 700;
  color: #fff;
  border: none;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 3px 7px -5px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 3px 7px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 7px -5px rgba(0,0,0,0.75);
  transition: background-color 0.3s ease, scale 0.3s ease;
}

.product-button:hover {
  background-color: #323486;
  scale: 0.95;
}

.product-button:disabled {
  background-color: #F7F6F9;
  color: #9CA4AB;
  cursor: default;
}

.product-button:disabled:hover {
  scale: 1;
}

.product-close-button {
  position: absolute;
  top: 4%;
  margin-left: 90px;
  font-size: 23px;
  background: none;
  border: none;
  cursor: pointer;
  transition: scale 0.3s ease, color 0.3s ease;
}

.product-close-button:hover {
  scale: 1.4;
  color: #5458EA;
}

 /* Item detail modal */

.modal-product-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  background: white;
  padding: 50px 12px;
  border-radius: 40px;
  width: 570px;
  box-sizing: border-box;
  background-color: #fff;
  position: relative;
}

.carousel-container {
  display: flex;
  align-items: center;
}

.product-image {
  display: flex;
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 0px 11px 15px -8px rgba(0,0,0,0.77);
  -webkit-box-shadow: 0px 11px 15px -8px rgba(0,0,0,0.77);
  -moz-box-shadow: 0px 11px 15px -8px rgba(0,0,0,0.77);
}

.product-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0px 5px;
}

.product-price {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  color: #5458EA;
}

.product-likes {
  display: flex;
  font-size: 12px;
  margin-top: 15px;
  color: #C0C0C0;
}

.product-like-icon {
  margin-right: 5px;
}

.product-name {
  font-size: 18px;
  font-weight: 700;
  margin-top: 15px;
}

.product-description {
  word-wrap: break-word;
  font-size: 16px;
  margin-top: 10px;
  color: #C0C0C0;
}

.product-description-title {
  font-size: 16px;
  margin: 0;
}


.product-detail-close-button {
  position: absolute;
  top: 2%;
  margin-left: 505px;
  font-size: 23px;
  background: none;
  border: none;
  cursor: pointer;
  transition: scale 0.3s ease, color 0.3s ease;
}

.product-detail-close-button:hover {
  scale: 1.4;
  color: #5458EA;
}

 /* Item Edit modal */

.modal-product-edit-content {
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: start;
  background: white;
  padding: 50px 12px;
  border-radius: 40px;
  width: 570px;
  box-sizing: border-box;
  background-color: #fff;
}

.product-edit-image {
  display: flex;
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 25px;
  margin-bottom: 10px;
}

.full-description-input {
  height: 70px;
}

.product-edit-close-button {
  position: absolute;
  top: 2%;
  margin-left: 505px;
  font-size: 23px;
  background: none;
  border: none;
  cursor: pointer;
  transition: scale 0.3s ease, color 0.3s ease;
}

.product-edit-close-button:hover {
  scale: 1.4;
  color: #5458EA;
}

.edit-button {
  margin: 0 auto;
  margin-top: 20px;
}