/* Login Page */

.form-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;  
    justify-content: center; 
    flex-direction: column;
}

.input-wrapper {
    position: relative;
}

.input-field {
    width: 335px;
    padding: 30px 0px 5px 0px;
    margin-bottom: 15px;
    border: 0px solid transparent;
    border-bottom: 1px solid #C0C0C0;
    outline: none;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    transition: color 0.3s ease-in-out; 
}

.floating-label {
    color: #C0C0C0;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 25px; 
    transition: 0.3s ease all;
}

.input-field:focus + .floating-label,
.input-field:not(:placeholder-shown) + .floating-label {
    top: 0;
    color: #C0C0C0;
}

.password-input-field {
    width: 295px;
    padding: 30px 40px 5px 0px;
    border: 0px solid transparent;
    border-bottom: 1px solid #C0C0C0;
    outline: none;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.toggle-password-visibility {
    position: absolute;
    left: 310px;
    top: 24px;
    cursor: pointer;
    width: 25px;  
    height: 25px;
}

.toggle-password-visibility:hover {
    filter: brightness(0) saturate(100%) invert(20%) sepia(65%) saturate(1810%) hue-rotate(221deg) brightness(92%) contrast(94%);
}

.form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 335px;
    height: 44px;
    border: 1px solid transparent;
    border-radius: 80px;
    font-size: 16px;
    font-weight: 700;
    background-color: #5458EA;
    cursor: pointer;
    color: #fff;
    transition: all 0.27s ease;
    margin-top: 55px;
}

.form-button:hover {
    background-color: #3e40a5;
    scale: 0.97;
}

.form-button:disabled {
    background-color: #C0C0C0;
    cursor: default;
    color: #fff;
}

.form-button:disabled:hover {
    scale: 1;
}

.tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 60px;
    opacity: 0;
    position: absolute;
    top: 5%;
    color: #fff;
    background-color: #F34545;
    border-radius: 16px;
    font-size: 16px;
    z-index: 10;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
}

.tooltip.show {
    opacity: 1;
}

.warning-icon {
    margin-right: 5px;
    margin-left: 5px;
}

.input-error {
    color: #F34545;
    border-bottom: 1px solid #F34545;
    transition: all 0.3s ease-in-out;
}

.signup-link {
    display: flex;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 320px;
    height: 40px;
    color: #5458EA;
    transition: color 0.3s ease, scale 0.3s ease;
    font-size: 14px;
}

.signup-link:hover {
    color: #323384;
    scale: 1.1;
}


/* Signup Page */

.signup-form-wrapper {
    margin-top: -190px;
}

.signup-title {
    position: absolute;
    font-size: 18px;
    top: 1.8%;
}

.pass-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.pass-subtitle {
    width: 320px;
    font-size: 16px;
    color: #C0C0C0;
    text-align: center;
    margin-bottom: 30px;
}

.password-field {
    width: 335px;
    height: 34px;
    text-align: center;
    margin-bottom: 15px;
    border: 0px solid transparent;
    outline: none;
    font-size: 24px;
    font-weight: 700;
    font-style: bold;
    font-family: 'Montserrat', sans-serif;
    transition: color 0.3s ease-in-out; 
}

.password-field.disabled {
    background-color: #fff;
    color: black;
}

.password-field::placeholder {
    color: lightgray;  
}

.password-visibility-btn {
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 44px;
    height: 28px;
    background-color: #C0C0C033;
    display: flex;
    top: 3%;
    left: 94.5%;
    transition: all 0.2s ease;
}

.password-visibility-btn:hover {
    background-color: #d3d0db;
}

.password-error {
    font-size: 15px;
    margin: 0;
    color: #F34545;
    transition: all 0.5s ease;
}

.back-button {
    position: absolute;
    display: flex;
    text-decoration: none;
    align-items: center;
    top: 3%;
    left: 52%;
    font-size: 16px;
    font-weight: 500;
    transition: scale 0.27s ease, color 0.27s ease;
}

.arrow-icon {
    width: 44px;
    height: 28px;
    border-radius: 50px;
    background-color: #C0C0C033;
    transition: background-color 0.27s ease;
}

.arrow-text {
    margin-left: 5px;
    color: black;
    transition: color 0.27s ease;
}

.back-button:hover {
    .arrow-icon {
        background-color: #d3d0db;
    }
    .arrow-text {
        color: #323384;
    }
    scale: 1.12;
}

.signup-tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 60px;
    opacity: 0;
    position: absolute;
    top: 8%;
    color: #fff;
    background-color: #F34545;
    border-radius: 16px;
    font-size: 16px;
    z-index: 10;
    pointer-events: none;
    transition: opacity 1s ease-in-out;
}

.signup-tooltip.show {
    opacity: 1;
}


/* Profile Page */

.profile-page {
    display: flex;
}

.menu-section {
    width: 37%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-section {
    width: 63%;
    height: 100%;
    background-color: #f7f6f9;
}

.profile-info-button {
    margin: 15px;
    display: flex;
    align-items: center; 
    height: 75px;
    width: 87%;
    border-radius: 40px;
    border: none;
    background: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.profile-info-button:hover {
    box-shadow: 0px 0px 8px -1px rgba(81,83,179,0.75);
    -webkit-box-shadow: 0px 0px 8px -1px rgba(81,83,179,0.75);
    -moz-box-shadow: 0px 0px 8px -1px rgba(81,83,179,0.75);
    background-color: #f7f6f9;
    scale: 1.02;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 2px;
}

.user-info {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 10px;
    font-size: 18px;
}

.user-login {
    margin-bottom: 5px;
    font-weight: 600;
}

.user-email {
    color: #494949;
}

.menu-button {
    display: flex;
    align-items: center;
    width: 85%;
    height: 42px;
    margin-bottom: 10px;
    text-align: start;
    background: none;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.menu-button:hover {
    box-shadow: 0px 0px 8px -1px rgba(81,83,179,0.75);
    -webkit-box-shadow: 0px 0px 8px -1px rgba(81,83,179,0.75);
    -moz-box-shadow: 0px 0px 8px -1px rgba(81,83,179,0.75);
    background-color: #f7f6f9;
    scale: 1.02;
}

.menu-icon {
    margin-right: 5px;
}

.arrow-right {
    margin-left: auto;
}

.log-out {
    margin-top: 50px;
}

.active-button {
    box-shadow: 0px 0px 8px -1px rgba(81,83,179,0.75);
    -webkit-box-shadow: 0px 0px 8px -1px rgba(81,83,179,0.75);
    -moz-box-shadow: 0px 0px 8px -1px rgba(81,83,179,0.75);
    background-color: #f7f6f9;
    scale: 1.02;
    cursor: default;
}

/* Main Page */

.main-page {
    background-color: #f0f0f0;
    height: 100vh;
}

.header {
    display: flex;
    height: 100px;
    width: 95%;
    align-items: center;
    margin: 0 auto;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo-text {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 800;
}

.main-profile-button {
    display: flex;
    align-items: center; 
    height: 60px;
    width: fit-content;
    margin-left: 10px;
    border-radius: 40px;
    padding: 5px;
    border: none;
    background: none;
    transition: all 0.3s ease;
    text-decoration: none;
    color: black;
    background-color: #fff;
    box-shadow: 0px 3px 7px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 3px 7px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 7px -5px rgba(0,0,0,0.75);
}

.main-profile-button:hover {
    box-shadow: 0px 0px 10px 0px rgba(85,87,164,0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(85,87,164,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(85,87,164,0.75);
    scale: 0.97;
}

.profile-info {
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-right: 10px;
    font-size: 18px;
    padding-left: 10px;
}

.add-item-button {
    width: 215px;
    margin-top: 0;
    margin-left: auto;
    box-shadow: 0px 3px 7px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 3px 7px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 7px -5px rgba(0,0,0,0.75);
}

.items-section {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 95%; 
    gap: 15px;
}

.temp-product-card {
    display: flex;
    flex-direction: column;
    width: 154px;
    height: 184px;
    padding: 7px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 3px 7px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 3px 7px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 7px -5px rgba(0,0,0,0.75);
    cursor: pointer;
    transition: scale 0.3s ease, background-color 0.3s ease;
}

.temp-product-card:hover {
    scale: 1.05;
    background-color: #e4eaea;
}

.product-card-image {
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    border-radius: 12px;
    margin: 0 auto;
    box-shadow: 0px 3px 7px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 3px 7px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 7px -5px rgba(0,0,0,0.75);
}

.product-card-name {
    font-size: 14px;
    margin-top: 5px;
    font-weight: 500;
}

.product-card-price {
    font-size: 14px;
    margin-top: 20px;
    color: #5D5FEF;
    font-weight: 500;
}

.product-card-like-wrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: -2px;
}

.product-card-like-button {
    display: flex;
    width: 24px;
    background: none;
    border: none;
    justify-content: center;
    cursor: pointer;
}

.product-card-like-icon {
    width: 24px;
}

.product-card-likes {
    font-size: 12px;
    margin-left: 5px;
}








