/* User Info */

content {
    display: flex;
    background-color: #f7f6f9;
}

.content-header {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.content-title {
    display: flex;
    width: 180px;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
}

.profile-back-button {
    display: flex;
    position: absolute;
    left: 46%;
    text-decoration: none;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    transition: scale 0.27s ease, color 0.27s ease;
}

.arrow-icon {
    width: 44px;
    height: 28px;
    border-radius: 50px;
    background-color: #C0C0C033;
    transition: background-color 0.27s ease;
}

.arrow-text {
    color: black;
    transition: color 0.27s ease;
}

.profile-back-button:hover {
    .arrow-icon {
        background-color: #d3d0db;
    }
    .arrow-text {
        color: #323384;
    }
    scale: 1.12;
}

.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.personal-info-avatar-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px 50px 0px;
}

.profile-info-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 3px 7px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 3px 7px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 7px -5px rgba(0,0,0,0.75);
}

.hidden-input-label {
    display: none;
}

.file-label {
    margin-top: 20px;
    color: #5458EA;
    font-weight: 500;
    transition: color 0.3s ease, scale 0.3s ease;
    cursor: pointer;
}

.file-label:hover {
    color: #353898;
    scale: 0.94;
}

.personal-info-block1 {
    display: flex;
    width: 660px;
    height: 165px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 16px;
    background-color: #fff;
}

.personal-info-block2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 660px;
    height: 85px;
    border-radius: 16px;
    background-color: #fff;
}

.personal-info-input {
    width: 637px;
    height: 35px;
    border: none;
    outline: none;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    color: black;
}

.personal-info-input::placeholder {
    color: #C0C0C0;
}

.dob-input {
    cursor: text;
}

.empty-dob {
    color: #C0C0C0;
  }
  
.filled-dob {
    color: black;
}
  

.number-field-wrapper {
    display: flex;
    align-items: center;
    width: 640px;
    border-bottom: 1px solid #f7f6f9 ;
}

.add-number-button {
    background: none;
    border: none;
    width: 170px;
    font-size: 15px;
    color: #5458EA;
    margin-left: -10px;
    cursor: pointer;
    transition: color 0.3s ease, scale 0.3s ease;
}

.add-number-button:hover {
    color: #353898;
    scale: 0.93;
}

.number-field {
    text-align: right;
}

.number-field::placeholder {
    color: #C0C0C0;
}
  
.number-field:disabled {
    background-color: #fff;
}

.personal-info-input:not(:last-child) {
    border-bottom: 1px solid #f7f6f9 ;
}

